<!DOCTYPE html><html lang="ko"><head><meta charset="UTF-8">
<title>Admin</title>
<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/global.css">
<link rel="stylesheet" href="/static/admin.css">
</head>
<body class="index">

<h1>Admin</h1>

<h4 class="nav">
<a href="/">Home</a>
</h4>
<hr>

<ul>
<li><a href="/admin/account">Account</a></li>
<li><a href="/admin/fs">File System</a></li>
<li><a href="/admin/log">Log</a></li>
</ul>

{% include "footer.html" %}
</body>
</html>